.view-prodact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 0 0 35px;

    @media (max-width: 980px){
        justify-content: center;
    }

    @media (max-width: 500px){
        padding:0;
    }
}

.prodact-card {
    width: 333px;
    height: 356px;
    margin-bottom: 50px;

    @media (max-width: 1650px) {
        width: 213px;
        height: 372px;
    }

    @media (max-width: 980px){
        margin: 40px 10px 40px 10px;
    }

    @media (max-width: 500px) {
        width: 165px;
        height: 360px;
    }

    &__brand {
        font-family: 'PT Sans';
        font-size: 14px;
        font-weight: 400;
        color: var(--color-font-second);
        padding-top: 16px;
    }

    &__txt {
        font-family: 'PT Sans';
        font-size: 14px;
        font-weight: 400;
        color: var(--color-font-main);
        padding: 8px 0 16px;
    }
}

.img-card {
    background-color: #F8F8FA;
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}