// PT sans
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/PT/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PT/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/PT/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PT/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Inter
@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}