// Импорт обнуляющих стилей
@import './reset.scss';

// Импорт локальных шрифтов
@import './fonts.scss';

// Импорт переменных 
@import './variable.scss';

.container {
    max-width: 1750px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1440px) {
        max-width: 1240px;
    }

    @media (max-width: 414px) {
        max-width: 375px;
        padding: 0;
    }
}

main {
    display: flex;
    padding: 25px 0 35px;

    @media (max-width: 800px) {
        padding: 0;
    }
}

.assides__block{
    max-width: 280px;

    @media (max-width: 800px) {
        display: none;
    }
}