:root {
    --color-font-main: #333333;
    --color-font-second: #AAAAAA;
    --color-font-hover: #125BAE;
    --color-font-bg: #E2EFFF;
    --color-font-history: #5A0488;

    --color-brand: #7397F5;

    --color-border: #D5D5D5;
    --srcoll-bar: #F2F2F2;
    --color-icons: #CBCBCB;
    --color-white: #FFFFFF;
}